{{define "Cart"}}
<main id="main" class="flex flex-1" id="cart">
  {{if .Cart}}
  <div class="flex flex-col flex-1 mx-32 my-4 gap-4">
    <h2 class="text-4xl text-zinc-800">Cart Items</h2>
    <div class="overflow-x-auto w-full">
      <table class="w-full text-left">
        <thead>
          <tr class="border-b-2 border-gray-200">
            <th class="w-28">Image</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Add/Del</th>
          </tr>
        </thead>
        <tbody>
          {{range .Cart}}
            <tr class="border-b-2 border-gray-200 align-top">
              <td><img class="h-20 w-20 m-2 p-1 border-gray-200 border" 
                src="{{.Image}}" alt="Product Image"/></td>
              <td class="pt-2">
                <a href="/product/{{.ID}}" class="flex flex-col gap-1">
                  <span class="text-clip text-gray-800">{{.Title}}</span>
                  <span class="text-xs font-medium rounded-md w-fit px-2 py-1
                    {{if lt .StockCount .Quantity}} 
                      bg-red-200 text-red-800
                    {{else}}
                      bg-blue-200 text-blue-800
                    {{end}}
                    "
                  >Only {{.StockCount}} in Stock</span>
                </a>
              </td>
              <td class="pt-2">{{.Quantity}}</td>
              <td class="pt-2">${{.Price}}</td>
              <td class="pt-2">${{.Total}}</td>
              <td class="pt-2">
                <div class="flex gap-2">
                  <button class="cursor-pointer border-blue-400 border p-1 rounded-md 
                    hover:bg-blue-600/80 hover:text-white text-blue-400"
                    data-on:click="
                      @post('/api/cart/update', {payload: {
                        pid: {{.ID}}, action: 'add', refreshTable: true
                      }})
                    "
                  >
                    <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18 10h-4V6a2 2 0 0 0-4 0l.071 4H6a2 2 0 0 0 0 4l4.071-.071L10 18a2 2 0 0 0 4 0v-4.071L18 14a2 2 0 0 0 0-4"/>
                    </svg>
                  </button> 
                  <button class="cursor-pointer border-red-400 border p-1 rounded-md 
                    hover:bg-red-600/80 hover:text-white text-red-400"
                    data-on:click="
                      @post('/api/cart/update', {
                        payload: {pid: {{.ID}}, action: 'remove', refreshTable: true}
                      })
                    "
                  >
                    <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18 11H6a2 2 0 0 0 0 4h12a2 2 0 0 0 0-4"/></svg>
                  </button> 
                </div>
              </td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <!-- Checkout button is hidden if stock counts don't tally -->
    {{if .StockOk}}
    <a href="/shipping" class="w-96 py-1 px-2 border rounded-md cursor-pointer 
      hover:bg-zinc-800 hover:text-white mx-auto mt-4 text-center"
    >Checkout</a>
    {{end}}

  </div>

  {{else}}
    <div class="flex flex-col p-4 gap-2">
      <h2 class="uppercase text-6xl font-bold">Your cart is empty</h2>
      <a href="/products" class="uppercase text-2xl font-light">Check out all the trends</a>
      <img src="/assets/images/cart.svg" class="h-96"/>
    </div>
  {{end}}
</main>
{{end}}
