{{define "OrderSummary"}}
<main id="main" class="flex flex-1 flex-col mx-16 my-4 items-start">
  <div class="p-2 w-1/3">
    <img src="/assets/images/order.svg" class="max-w-full h-auto" />
  </div>

  <div class="flex flex-col border border-gray-400/80 rounded-lg gap-2 w-2/3">
    <a href="/" class="bg-green-700 flex items-end px-4 py-2 gap-2">
      <svg class="h-8 w-8 fill-gray-200" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 13.748c0 .138.112.25.25.25h3.749v-3h3v3h3.749a.25.25 0 0 0 .25-.25v-5.75H2zm11.93-7.17-.932-.82V2a1 1 0 1 0-2 0v2L7.681 1.09a.25.25 0 0 0-.353-.011l-.011.011-6.25 5.463a.25.25 0 0 0 .18.42L3 7h10.747a.25.25 0 0 0 .183-.421"/>
      </svg>
      <span class="text-gray-100 text-md">Go Home</span>
    </a> 

    <div class="p-4 flex flex-col gap-2">
      <h3 class="font-medium text-3xl">Products</h3>
      <span class="font-light text-md">
        Hurray! Your order has been placed. Here is your list of products:
      </span>

      <table class="m-2 text-gray-800">
        <thead>
          <tr class="border-gray-400/50 border-b">
            <th class="text-left p-2">Product Name</th>
            <th class="text-left p-2">Quantity</th>
            <th class="text-left p-2">Price</th>
          </tr>
        </thead>
        <tbody>
          {{range .}} 
            <tr class="border-gray-400/50 border-b">
              <td class="text-left p-2">{{.Title}}</td>
              <td class="text-left p-2">{{.Quantity}}</td>
              <td class="text-left p-2 text-nowrap">$ {{.Total}}</td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</main>
{{end}}
