{{define "ProductPage"}}
<main class="flex flex-col flex-1" id="main">
  <div class="flex flex-col md:flex-row mx-auto container p-5 gap-8 mt-10">
    <!-- Product Image -->
    <div class="flex flex-1 justify-center">
      <img alt="{{.Product.Title}}" class="max-h-[500px]" src="{{.Product.Image}}" />
    </div>

    <!-- Product details -->
    <div class="flex flex-1 flex-col gap-4">
      <div class="flex flex-wrap gap-2 font-medium text-gray-600/80 text-2xl uppercase">
        <span>{{.Product.Category}}</span>
        <span>|</span>
        <a href="/merchant/{{.Product.SellerID}}">Merchant#: {{.Product.SellerID}}</a>
      </div>

      <span class="text-5xl font-light [word-spacing:12px]">{{.Product.Title}}</span>
      <span class="text-gray-600/80 text-xl {{if le .Product.StockCount 0}}text-red-600{{end}}">
        {{.Product.StockCount}} left in stock
      </span>
      <span class="font-bold text-4xl my-2">$ {{.Product.Price}}</span>
      <span class="text-gray-800/80 text-xl line-clamp-6">{{.Product.Description}}</span>

      <div class="flex gap-2 mt-auto mb-8">
        <button data-show="'{{.Product.SellerID}}' != $user.id"
          title="Add item to cart" class="w-32 border border-gray-400 rounded-md 
            cursor-pointer hover:bg-zinc-800 hover:text-white"
          data-on:click="
            @post('/api/cart/update', {payload: {pid: {{.Product.ID}}, action: 'add'}})
          "
        >Add to Cart</button>
        <a href="/cart" data-show="'{{.Product.SellerID}}' != $user.id"
          class="w-28 h-10 px-2 py-1 rounded-md bg-zinc-800 text-white cursor-pointer 
            hover:bg-zinc-800/80 flex justify-center items-center"
        >Go to Cart</a>
        <button data-show="'{{.Product.SellerID}}' == $user.id"
          data-on:click="@post('/api/product', {payload: {pid: {{.Product.ID}}}})"
          class="h-10 p-2 rounded-md bg-zinc-800 text-white 
            cursor-pointer hover:bg-zinc-800/80"
        >Modify product</button>
      </div>
    </div>
  </div>

  <!-- Recommended products -->
  <div class="flex flex-col container mx-auto p-5 gap-4">
    <span class="text-lg italic text-gray-600">Similar Suggestions</span>
    <div class="flex flex-wrap gap-4">
      {{range .Samples}}
        <div class="flex flex-col h-[25rem] w-[15rem] border border-gray-400/80 p-2 gap-4">
          <img src="{{.Image}}" class="w-[8rem] h-[10rem] m-auto" />
          <span class="h-[5rem] text-lg line-clamp-3">{{.Title}}</span>
          <span class="text-gray-600">${{.Price}}</span>
          <a href="/product/{{.ID}}" 
            class="w-full px-2 py-1 rounded-md bg-zinc-800 text-white 
            cursor-pointer hover:bg-zinc-800/80 text-center"
          >View Product</a>
        </div>
      {{end}}
    </div>
  </div>
</main>
{{end}}
